* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
img { float:left; height: 300px; width: 300px;}
h1 {border-bottom-style: inset;}
body 
{  background: aliceblue;
    width: 100vw;
    height: 100vh;
}
.principal  {

    height: 800px;
  position: relative;
  background: red;
}
.principal img {
    border-radius: 10%;
    width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    
}
.principal input {
    margin:10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid,black,1px;
    border-radius: 8%;
    background-color: transparent;
}
textarea:focus, input:focus,select:focus {
    box-shadow:0 0 0 0;
    border: 0 none;
    outline:0;
}
